.gradient-custom-2 {
	/* fallback for old browsers */
	background: #eae5e8;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right, #52054f, #6f0b62, #52075e, #b44593);
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right, #da9acd, #db26bd, #ca7ccf, #b44593);
	}
	
	@media (min-width: 768px) {
	.gradient-form {
	height: 100vh !important;
	}
	}
	@media (min-width: 749px) {
	.gradient-custom-2 {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem;
	}
	}

	label[for="password"] {
		margin-bottom: 0.1rem;
	  }
	  input[type="password"] {
		width: 100%;
	  }
	  .form-outline.mb-4 {
		height: 10px; 
		display: flex;
		flex-direction: column;
		justify-content: center;
	  }
	  label[for="password"] {
		margin-bottom: -5rem;
	  }